
<nav style="padding: 1.5% 7%; background-color: inherit; font-size: 25px;font-family: 'PT Sans';" class="navbar fixed-top navbar-expand-lg ">
    
    <img style="cursor:pointer; margin: 0% 3% 0 0 ;max-width: 2.7rem;" id="icon" type="image/png" src="/favicon2.png">
    <a class="navbar-brand" style="    text-align: center;
    margin: 0 8px;
    font-family: -webkit-body;
    font-size: 25px;display: none;
    color: #1e252c;" href="/"> <strong>BLOGGER'S</strong> </a>
   
    <button style="background-color: #007bffc7;color: white;" class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
    <div  class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto" >
            
            <li class= "nav-item  ">
                <a  style="<%= path === '/' ? 'color: var(--light);background-color: #007bffc7;border-radius: 6px;box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);' : 'color: #343a40;' %>"  class="nav-link "  href="/">Home</a>
            </li>
            <% if (!isAuthenticated) { %>
            
            <% }else{ %>
            <li class="nav-item ">
                <a  style = "<%= path === '/feed' ? 'color: var(--light);background-color: #007bffc7;border-radius: 6px;box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);' : 'color: #343a40;' %>"  class="nav-link "  href="/feed">Feed</a>
            </li>
            <% } %>
            <li class= "nav-item  ">
                <a  style="<%= path === '/read' ? 'color: var(--light);background-color: #007bffc7;border-radius: 6px;box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);' : 'color: #343a40;' %>"  class="nav-link "  href="/read">Explore</a>
            </li>
            <% if (isAuthenticated) { %>
            <li class="nav-item ">
                <a  style="<%= path === '/posts/add' ? 'color: var(--light);background-color: #007bffc7;border-radius: 6px;box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);' : 'color: #343a40;' %>"  class="nav-link "  href="/posts/add">Create</a>
            </li>
            
            
            <% } %>
            
        </ul>
        <% if (isAuthenticated) { %>
            <div class="searchBar" style="width: 100%;padding: 0 2%;max-width: 400px;">
                <i style="position: relative;top: 30%;" class="fa fa-search" aria-hidden="true"></i>
                <input class="searchBar-input-box" id="txtSearch" type="text"  placeholder="Search...">
                
                <a style="display: none;" id="search-submit">search</a>
            </div>
        <%}%>
        
        <ul class="navbar-nav ml-auto" >
            <% if (!isAuthenticated) { %>
                <li class="nav-item ">
                    <a  style = "<%= (path === '/login' ) ? 'color: var(--light);background-color: #007bffc7;border-radius: 6px;box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);' : 'color: #343a40;' %>"  class="nav-link "  href="/login">Login</a>
                </li>
                <li class="nav-item ">
                    <a  style = "<%= (path === '/register' ) ? 'color: var(--light);background-color: #007bffc7;border-radius: 6px;box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);' : 'color: #343a40;' %>"  class="nav-link "  href="/register">Register</a>
                </li>
            <% } else { %>

                <li class="nav-item ">
                    <a  style = "<%= (path === '/posts/user'|| path === '/profile' ) ? 'color: var(--light);background-color: #007bffc7;border-radius: 6px;box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);' : 'color: #343a40;' %>"  class="nav-link "  href="/posts/user"><%=name%></a>
                </li>
                <li class="nav-item ">
                    <a href="/logout" style="margin-top: 7%;" class=" btn btn-danger">Logout</a>
                    
                </li>
            <% } %>
        </ul>  
    </div>
    
          

    
</nav>
<script>
        
        document.getElementById('txtSearch').addEventListener('keypress', searchKeyPress);

        function searchKeyPress(e) {
            e = e || window.event;
            if (e.keyCode === 13)
            {
                document.getElementById('search-submit').click();
                // alert('Enter Pressed');
                return false;
            }
            return true;
        }

        
        document.getElementById('search-submit').addEventListener('click', redirect);
        
        function redirect() {
            //look for search id
            var result = document.getElementById("txtSearch").value;
            
            
            //redirect page
            // alert('Search Icon Clicked')
            window.location.href = "https://bloggers-ac27.herokuapp.com/search/user/" + result ;
        }
        document.getElementById('icon').addEventListener('click', icon);
        
        // // icon function
        function icon() {
            //look for search id\
            // alert(item);

            //redirect page
            // alert('Search Icon Clicked')
            window.location.href = "https://bloggers-ac27.herokuapp.com/";

        }

</script>
