<%- include('./includes/head.ejs') %>
<%- include('./includes/nav.ejs') %>

<body style="    background-color: var(--light);">
    <%- messages()%>
    
    <div class="container-fluid">     
        <div class="row"  style="margin-right: 0;margin-left: 0;">
            <div class="col-sm-12 col-md-12 col-lg-12 ">
                <h1 class="heading" >
                    <% if(follow!==3    ){ %>
                        <% if(userblog){ %> <%=name%>'s Blogs<%}else{%> <%=heading%><%}%>
                    <%}else{%>
                        Your Profile
                    <%}%>
                </h1>
            </div>
        </div>
      </div>
    </div>
    <% if(follow!==0    ){ %>
    <div class=" blog" style="padding: 3%;">
        <br>
        <h3>
            Name: <%= user.name%>
        </h3><br>
        <h3>
            Email: <%= user.email%>
        </h3><br>
        <h3>
            Followers: <a href="/followers/<%=user.name%>"><%= user.followers.length%></a>
        </h3><br>
        <h3>
            Following: <a href="/following/<%=user.name%>"><%= user.following.length%></a>
        </h3><br>
        <h3>
            Total Blogs: <%=posts.length%>
        </h3>
        <hr>
        <% if(follow===1 ){ %>
            <button class="btn btn-primary"  value="save" type="submit">
                <a style="color: white;text-decoration: none;" href="/follow/<%=author%>">Follow</a> 
            </button>
        <%} %>
        <% if(follow===2 ){ %>
            <button class="btn btn-danger"  value="save" type="submit">
                <a style="color: white;text-decoration: none;" href="/unfollow/<%=author%>">Unfollow</a> 
            </button>
        <%} %>
    </div>
    <h2 class="centered">
        Blog's written by <%= user.name%>
    </h2>
    <%}%>

    <% if(user.following.length===0){ %>        
        <div class="heading">
            <h2>You are not following anyone!</h2>
        </div>
        
    <%}%>

    <% for(var i=posts.length-1; i >= 0; i--) { %>
        <% var followed=false %>
        <% for(var j=0;j< user.following.length ;j++) { %>
        <% if(user.following[j].name=== posts[i].author){ %> 
            <% followed=true %>
        <% } %>
        <% } %> 

        <% if(followed){ %>
            <div class="container-fluid"> 
                <div class="media border p-3 blog row" style="margin: 3% 10%;">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 ">
                        <img src="/<%= posts[i].imageUrl %>" alt="Post Image" class="mr-3 mt-3 rounded" style="width:100%;">
                        <hr>
                    </div>
                    <div class="media-body col-12 col-sm-12 col-md-8 col-lg-8" >
                        <h2>
                            <a href="/read/<%=posts[i]._id%>" style="color: #1e252c">
                                <strong  style="
                                font-family: 'Merriweather', serif;">
                                    <%=posts[i].title%>
                                </strong>
                            </a> 
                        </h2>
                       <small>
                            <hr>
                            <h6 ><i>Posted in 
                                <a href="/categories/findCategory/<%=posts[i].category%>" class="sorting-links" ><strong><%=posts[i].category%></strong></a> 
                            by  <a href="/categories/findAuthor/<%=posts[i].author%>" class="sorting-links"><strong><%=posts[i].author%></strong></a> 
                            on  <%=moment(posts[i].date).format("MM-DD-YYYY")%>
                            </i></h6>
                        </small>
                        <hr>
                        <% if(posts[i].body.length>=300){ %> 
                            <h5><%- posts[i].body.substring(0, 300) %>...</h5>
                            <br>
                            <a class="sorting-links" style="font-weight: bold;font-family: 'Merriweather', serif; " href="/read/<%=posts[i]._id%>">Read more</a>    
                        <% }else{ %>
                           <h5><%- posts[i].body%></h5>
                        <% }  %>
                        <hr>
                        <h5 style="color: var(--primary);font-family: 'Merriweather', serif;">Likes: <%=posts[i].likes.length%>     <a href="/read/<%=posts[i]._id%>" ">    Comments: <%=posts[i].comments.length%></a></h5>
                        <hr>
                        <% var isLiked=false %>
                        <% for(var j=0;j< posts[i].likes.length ;j++) { %>
                            <% if(posts[i].likes[j].name=== name){ %> 
                                <% isLiked=true %>
                            <% } %>
                        <% } %>
                        <% if(!isLiked){ %> 
                            <button class="btn btn-primary"  value="save" type="submit">
                                <a style="color: white;text-decoration: none;" href="/posts/like/<%=posts[i]._id%>">Like</a> 
                            </button>
                        <% }else{ %>
                            <button class="btn btn-danger"  value="save" type="submit">
                                <a style="color: white;text-decoration: none;" href="/posts/unlike/<%=posts[i]._id%>">Unlike</a> 
                            </button>
                        <%}%>
                    </div>
                </div>
            </div>        
        <% } %>
    <% } %>
</body>


<%- include('./includes/footer.ejs') %>


     
