<%- include('./includes/head.ejs') %>
<%- include('./includes/nav.ejs') %>

<body style="    background-color: var(--light); margin-top: 2rem;">
    <%- messages()%>
    
    <div class="container-fluid">     
        <div class="row"  style="margin-right: 0;margin-left: 0;">
            <div class="col-sm-12 col-md-12 col-lg-12 ">
                <h1 class="heading" >
                    <% if(follow!==3    ){ %>
                        <% if(userblog){ %> <%=name%>'s Blogs<%}else{%> <%=heading%><%}%>
                    <%}else{%>
                        Your Profile
                    <%}%>
                </h1>
            </div>
        </div>
      </div>
    </div>
    <% if(follow!==0){ %>
    <div class=" blog" style="padding: 3%;">
        <br>
        <h3>
            Name: <%= user.name%>
        </h3><br>
        <h3>
            Email: <%= user.email%>
        </h3><br>
        <h3>
            Followers: <a href="/followers/<%=user.name%>"><%= user.followers.length%></a>
        </h3><br>
        <h3>
            Following: <a href="/following/<%=user.name%>"><%= user.following.length%></a>
        </h3><br>
        <h3>
            Total Blogs: <%=posts.length%>
        </h3>
        <hr>
        <% if(follow===1 ){ %>
            <button class="btn btn-primary"  value="save" type="submit">
                <a style="color: white;text-decoration: none;" href="/follow/<%=author%>">Follow</a> 
            </button>
        <%} %>
        <% if(follow===2 ){ %>
            <button class="btn btn-danger"  value="save" type="submit">
                <a style="color: white;text-decoration: none;" href="/unfollow/<%=author%>">Unfollow</a> 
            </button>
        <%} %>
        <% if(follow===3 ){ %>
            <button class="btn btn-primary"  value="save" type="submit">
                <a style="color: white;text-decoration: none;" href="/posts/user">YOU</a> 
            </button>
        <%} %>
    </div>
    <h2 class="centered">
        Blog's written by <%= user.name%>
    </h2>
    <%}%>

    <% if(user.following.length===0){ %>        
        <div class="heading">
            <h2>You are not following anyone!</h2>
        </div>
        
    <%}%>
    <div class="row row-cols-1 row-cols-md-3" style="margin-right: 0;margin-left: 0;">
        <% for(var i=posts.length-1; i >= 0; i--) { %>
            <% var followed=false %>
            <% for(var j=0;j< user.following.length ;j++) { %>
            <% if(user.following[j].name=== posts[i].author){ %> 
                <% followed=true %>
            <% } %>
            <% } %> 

            <% if(followed){ %>
    
        <div class="col col-12 col-sm-6 col-lg-3" style="padding: 2%;">
            <div class="card ">
               
                  
                <img src="/<%= posts[i].imageUrl %>" class="card-img-top" alt="Blog Image">
                <div class="card-body" style="    flex: 1 1 auto;
                padding: 1.25rem 1.25rem 0 1.25rem;">
                    
                    <h5 class="card-title"><a  href="/read/<%=posts[i]._id%>" style="color: #1e252c"><strong><%=posts[i].title%></strong></a>(<a href="/categories/findCategory/<%=posts[i].category%>" class="sorting-links" ><strong><%=posts[i].category%></strong></a> )</h5>
                    <hr>
                    
                    <div style="display: flex">
                        <div class="col-6" style="padding-right:0px;padding-left: 0px;">
                            
                                Author:  <a href="/categories/findAuthor/<%=posts[i].author%>" class="sorting-links"><strong><%=posts[i].author%></strong></a> 
                            
                        </div>
                        <div class="col-6" style="padding-right:0px;padding-left: 0px;">
                            
                                Date:  <%=moment(posts[i].date).format("DD-MM-YYYY")%>
                            
                        </div>
                        
                    </div>
                        
                    
                    <hr>
                    <div >
                        
                            <% if(posts[i].body.length>=100){ %> 
                                <%- posts[i].body.substring(0, 100) %>...
                                <a class="sorting-links"  href="/read/<%=posts[i]._id%>">Read more</a>    
                            <% }else{ %>
                            <%- posts[i].body%>
                            <% }  %>
                        
                    </div>
                
                <hr>
                    <% var isLiked=false %>
                    <% for(var j=0;j< posts[i].likes.length ;j++) { %>
                        <% if(posts[i].likes[j].name=== name){ %> 
                            <% isLiked=true %>
                        <% } %>
                    <% } %>
                    <h5 >
                        <% if(!isLiked){ %> 
                            <a href="/posts/like/<%=posts[i]._id%>" class="btn btn-like"id="like-Post"><img style="cursor:pointer; margin: 0% 3% 0 0 ;max-width: 2rem;" type="image/png" src="/heart.png"></a>
                                
                        <% }else{ %>
                            <a href="/posts/unlike/<%=posts[i]._id%>" class="btn btn-unlike"id="unlike-Post"><img style="cursor:pointer; margin: 0% 3% 0 0 ;max-width: 2rem;" type="image/png" src="/liked.png"></a>
                        <%}%>
                        Likes: <%=posts[i].likes.length%>     <a class="sorting-links" href="/read/<%=posts[i]._id%>" >   
                        Comments: <%=posts[i].comments.length%></a>
                    </h5>
                        
                    <% if (userblog) { %>
                        <hr>
                        <button class="btn " style="background-color: #00adb5;    margin: 0 0.5%;" type="submit"> <a href="/posts/edit/<%=posts[i]._id%>" style="color: white;text-decoration: none;">edit</a> </button>
                        <button class="btn " style="background-color: #ec625f;    margin: 0 0.5%;" type="submit" ><a href="/posts/delete/<%=posts[i]._id%>" style="color: white;text-decoration: none;">delete</a> </button>
                    <% } %>
                    <br>
                </div>
          
                
          
                
            </div>
        </div>
        <% } %>
        <% } %>
    </div>
    
</body>


<%- include('./includes/footer.ejs') %>


     
