<%- include('./includes/head.ejs') %>
<%- include('./includes/nav.ejs') %>

<body style="    background-color: var(--light);">
    <%- messages()%>
    
    <div class="container-fluid">     
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 ">
                <h1 class="heading" >
                    <%=post.title%>
                    
                </h1>
            </div>
        </div>
      </div>
    </div>
         
    <hr>
    <!-- <img src="/images/<%=post.mainimage%>" alt="John Doe" class="rounded" style="width:400px;margin: 0 37%;"> -->
    <div class="container-fluid"> 
        <div class="media border p-3 blog row" style="margin: 3% 10%;">
            <div class="media-body col-12 col-sm-12 col-md-12 col-lg-12" >
                    <i>Posted in <a href="/categories/findCategory/<%=post.category%>" ><strong><%=post.category%></strong></a> 
                        by <a href="/categories/findAuthor/<%=post.author%>"><strong><%=post.author%></strong></a> 
                        on  <%=moment(post.date).format("DD-MM-YYYY")%>
                    </i>
                <hr>
                    <h5 style="color: var(--primary);font-family: 'Merriweather', serif;">Likes: <%=post.likes.length%>     <a href="/read/<%=post._id%>" ">    Comments: <%=post.comments.length%></a></h5>
                <hr>
                    <img src="/<%= post.imageUrl %>" alt="Post Image" class="rounded" style="width:40%;display:block;margin-left: auto;margin-right: auto;">
                <hr>
                    <p><%- post.body%></p>
                <hr>    
                    <% var isLiked=false %>
                    <% for(var j=0;j< post.likes.length ;j++) { %>
                        <% if(post.likes[j].name=== name){ %> 
                            <% isLiked=true %>
                        <% } %>
                    <% } %> 
                    <% if (isAuthenticated) { %>
                        <% if(!isLiked){ %> 
                            <button class="btn btn-primary"  value="save" type="submit">
                                <a style="color: white;text-decoration: none;" href="/posts/like/<%=post._id%>">Like</a> 
                            </button>
                        <% }else{ %>
                            <button class="btn btn-danger"  value="save" type="submit">
                                <a style="color: white;text-decoration: none;" href="/posts/unlike/<%=post._id%>">Unlike</a> 
                            </button>
                        <%}%>
                    <%}%>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <%if(post.comments.length>0){%>
    
        <h3 style="text-align: center;font-family: 'Merriweather', serif;">Comments</h3>
        
        <%for(var i=0; i < post.comments.length; i++) {%>
            <div class="container-fluid"> 
            <div class="media border p-3 blog row" style="margin: 3% 10%; ">
                <div class="media-body " style="padding: 1% 4%;">
                    <h2 style="font-weight: bold;" class="comment-name">
                        <%=post.comments[i].name%>
                    </h2>
                    <h6 style="color: black;font-weight: bold;" class="comment-name"><%=moment(post.comments[i].commentdate).format("DD/MM/YY h:m")%></h6>
                    
                    <p class="comment-name"><%=post.comments[i].body%></p>
                    <% if (userblog|| post.comments[i].email===reqEmail) { %>
                        <form style="padding: 0;border: none; margin: 0;" method="POST" action="/posts/deletecomment/<%=post._id%>">
                            <input type="hidden" name="postid" value="<%=post._id%>">
                            <input type="hidden" name="commentname" value="<%=post.comments[i].name%>">
                            <input type="hidden" name="commentemail" value="<%=post.comments[i].email%>">
                            <input type="hidden" name="commentbody" value="<%=post.comments[i].body%>">
                            <input type="hidden" name="commentdate" value="<%=post.comments[i].commentdate%>">
                            <button class="btn btn-danger" type="submit" name="submit"value="save" >Delete Comment</button>
                    
                        </form>
                    <% } %>
                </div>
                
            </div>
            </div>
        <% } %>
        <br>
    <% } %>    
    
    <% if (isAuthenticated) { %>
        
        
        <h3 style="text-align: center;font-family: 'Merriweather', serif;">Add Comment</h3>
    
    <form class="login-form blog" style="margin: 3% 10%;padding: 2% 5%;width: 80%;border: white;" method="POST" action="/posts/addcomment">
        <input type="hidden" name="postid" value="<%=post._id%>">
        
            <input type="hidden" name="name" class="form-control" value="<%= currentUser.name %>">  
            <input type="hidden" name="email" class="form-control" value="<%= currentUser.email %>">     
        <div class="form-group">
            <label for="body">Comment :</label>
            <textarea name="body" id="body" cols="30" rows="2" class="form-control"></textarea>
                
        </div>
        <button type="submit" class="btn btn-primary" name="submit" value="Add Comment">Add Comment</button>
    </form>
    <% } %>

</body>

<%- include('./includes/footer.ejs') %>

